 .tooltip {
            font-size: 45px;
			color:rgb(224,255,255);
            width: 200;
            height: auto;
            position: absolute;
            text-align: center;
            border-style: solid;
            border-width: 0px;
            background-color:&H8000000F;
            border-radius: 0px;
        }