/*Start css when using echart1*/
.html{
	height: 100%;
	width: 100%;

}
.body{
	height: 100%;
	margin: 0;
	width: 100%;

}
.container{
	height: 600px;
	width: 1500px;
	background-color: #020d22;
}

/*End css when using echart1*/

/* Header Stlesy
---------------------------------*/
.header{
	background-color: #fff;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#fff;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
	position: ;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#222222;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{
	text-decoration:none;
	color: #00a79d;
	font-size: 20px;
}

.small-logo{
	padding:0 32px;
}
.main-section{
	padding:80px 0 0 0;
}

/* Main Section
---------------------------------*/


#part1{
	height: 100%;
	width: 100%;
	background-color: #fff;
}
#part2{
	height: 100%;
	width: 100%;
	background-color: #fff;
}
#part3{
	height: 100%;
	width: 100%;
	background-color: #fff;
}
#part4{
	height: 100%;
	width: 100%;
	background-color: #fff;
}
#part5{
	height: 100%;
	width: 100%;
	background-color: #fff;
	position: relative;
}
#part6{
	height: 100%;
	width: 100%;
	background-color: #fff;
}
#chart1{
	height: 100%;
	width: 100%;
}
#chart2{
	height: 100%;
	width: 100%;
}
#chart3{
	height: 100%;
	width: 100%;
}
#chart4{
	height: 100%;
	width: 100%;
}
#chart5{
	height: 100%;
	width: 100%;
}
.cloud-text{

	width: 500px;
	height: 500px;
	background-color: red;
	position: absolute;
	z-index: 999;
}
#chart6{
	height: 100%;
	width: 100%;
	margin: auto;
}